
<section style="height: 100vh;">
    <div style="background-image: url(images/arka.jpg); background-attachment: fixed; background-size: cover; width: 100%; height: 100vh; position: relative;"  >
    <div class="baslik">
        <b style="font-size: 101px; text-align: center; margin-bottom: -21px; display: block;">LOGO</b>
        <span style="font-size: 19px; text-align: center; display: block; margin-bottom: 25px;">ADMİN TEMPLATE</span>
    </div>
    <section>
    <form class="login-form">
        <div class="arkalogin">
            <div class="loginbaslik">Admin Login</div>
            <hr style="border: 1px solid #ccc;">
            <input class="giris" type="email" name="email" placeholder="Email" #email>
            <input class="giris" type="password" name="password" placeholder="Password" #password>
            <Button (click)='Login(email.value,password.value)' class="butonlogin" type="submit" name="" >Login</Button>
            <Button (click)='tryGoogleLogin()' class="butonlogin" type="submit" name="" >Login with Google</Button>
        </div>
    </form>
    </section><br>
    </div>
    </section>